<form (ngSubmit)="onFormSubmitted()"
      #loginForm="ngForm">
    <mat-form-field class="example-full-width"
                    appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput
               required
               [(ngModel)]="model.username"
               name="username"
               #username="ngModel">
        <mat-error *ngIf="username.invalid">Please enter your username</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width"
                    appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput
               required
               type="password"
               [(ngModel)]="model.password"
               name="password"
               #password="ngModel">
        <mat-error *ngIf="password.invalid">Please enter your password</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Server</mat-label>
        <mat-select [(ngModel)]="model.connectedServer"
                    name="server">
            <mat-option *ngFor="let server of servers"
                        [value]="server.value">
                {{server.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button
            [disabled]="!loginForm.form.valid"
            type="submit"
            color="primary">Submit</button>
</form>