<mat-card class="user-card">
    <mat-card-header>
        <div mat-card-avatar
             class="example-header-image"></div>
        <mat-card-title>{{user?.name?.title}} {{user?.name?.last}}</mat-card-title>
        <mat-card-subtitle>{{user?.name?.first}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
         src={{user?.picture?.large}}>
    <div>
        Email: {{user?.email}}
    </div>
    <div>
        Nat: {{user?.nat}}
    </div>
    <div>
        Gender: {{user?.gender}}
    </div>
    <mat-card-actions align="end">
        <button mat-button>Delete</button>
        <button mat-button
                *appAuthorization="true"
                (click)="onEditButtonClicked()">Edit</button>
    </mat-card-actions>
</mat-card>