<form [formGroup]="userForm"
      (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>User Info</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column"
                 fxLayoutAlign="space-between">
                <div fxLayout="row"
                     fxLayoutAlign="space-between"
                     fxLayoutGap="10px"
                     fxFlex>
                    <mat-form-field fxFlex>
                        <input matInput
                               placeholder="Gender"
                               formControlName="gender">
                    </mat-form-field>

                    <mat-form-field fxFlex>
                        <mat-select placeholder="Title"
                                    formControlName="title">
                            <mat-option *ngFor="let title of titles"
                                        [value]="title.abbreviation">
                                {{ title.name }}
                            </mat-option>
                            <mat-error *ngIf="userForm.controls['title'].hasError('required')">
                                Title is <strong>required</strong>
                            </mat-error>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row"
                     fxLayoutAlign="space-between"
                     fxLayoutGap="10px"
                     fxFlex>
                    <mat-form-field fxFlex>
                        <input matInput
                               placeholder="First Name"
                               formControlName="firstName">
                        <mat-error *ngIf="userForm.controls['firstName'].hasError('required')">
                            Title is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex>
                        <input matInput
                               placeholder="Last Name"
                               formControlName="lastName">
                        <mat-error *ngIf="userForm.controls['lastName'].hasError('required')">
                            Title is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row"
                     fxLayoutAlign="space-between"
                     fxLayoutGap="10px"
                     fxFlex>
                    <mat-form-field fxFlex>
                        <input matInput
                               placeholder="Email"
                               formControlName="email">
                        <mat-error *ngIf="userForm.controls['email'].hasError('required')">
                            Title is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="userForm.controls['email'].hasError('email')">
                            Please enter a <strong>valid</strong> email address
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row"
                     fxLayoutAlign="center">
                    <button mat-raised-button
                            color="primary"
                            [disabled]="!userForm.valid"
                            type="submit">
                        Submit
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>


<mat-card>my card content</mat-card>